/* Подключение шрифтов */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
	/* Внешний отсуп */
	margin: 0;
	/* Внутренний отступ */
	padding: 0;
	/*  */
	box-sizing: border-box;
}

body {
	/* Использование семейства шрифтов*/
	font-family: "Poppins", sans-serif;
}

.main-screen {
	/* background: #ECE7E4 url(image/main-IMAGE.jpg) top right/50%  no-repeat; */
	background-color: #ece7e4;
	padding: 130px 100px 130px 100px;
	position: relative;
}
.main-img {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	object-fit: cover;
}
.main-h2 {
	color: #645c55;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
}
h1 {
	max-width: 420px;
	color: #1b1a1b;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 70.4px;
	margin-bottom: 18px;
	position: relative;
	z-index: 2;
}
.main-p {
	max-width: 510px;
	color: #403e3b;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	margin-bottom: 30px;
	position: relative;
	z-index: 2;
}
.button {
	border-radius: 14px;
	background: #1b1a1a;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.4px;
	padding: 11px 20px;
}
.screen-2 {
	margin-top: 61px;
	margin-bottom: 161px;
}
.screen-2-h2 {
	/* Центрирование строчных элементов */
	text-align: center;
}
.container-screen-2 {
	max-width: 530px;
	/* Центрирование блочных элементов */
	margin: 0 auto;
}

.container {
	/* Ограничение максимальной ширины блока */
	max-width: 1200px;
	/* Центрирование блочных элементов */
	margin: 0 auto;
}

.subtitle {
	color: #645c55;
	/* Центрирование строчных элементов  */
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 100px;
}
.title {
	color: #1b1a1a;
	text-align: center;
	font-size: 39px;
	font-style: normal;
	font-weight: 400;
	line-height: 42px; /* 107.692% */
}
.cards {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 100px;
}
.card-item {
	border: 2px dashed red;
	max-width: 370px;
	text-align: center;
	padding: 0 42px;
	display: inline-block;
	vertical-align: middle;
}
.card-img {
	max-width: 117px;
	margin-bottom: 15px;
}
.card-title {
	color: #403e3b;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 144.444% */
	margin-bottom: 10px;
}
.card-text {
	color: #645c55;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 160% */
}
.sec-fluid {
	min-height: 600px;
	/* Для полномасштабных фоновых изображений */
	background: url(image/img-fluid-1.jpg) center/cover no-repeat;
	/* Расшифровка */
	background-image: url(image/img-fluid-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 75px;
	display: flex;
	/* главная ось*/
	justify-content: flex-end;
	/* поперечная ось*/
	align-items: center;
}
.left {
	background: url(image/img-fluid-2.jpg) center/cover no-repeat;
	/* главная ось*/
	justify-content: flex-start;
}
.box {
	max-width: 285px;
}
.box-title {
	color: #403e3b;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 2px;
	text-transform: uppercase;
}
.box-text {
	color: #645c55;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}
ul {
	list-style-type: none;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	display: flex;
	align-items: center;
}
.nav-link {
	margin-right: 32px;
}
.projects {
}
.container {
}
.projects-txtblock {
}
.projects-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.projects-item {
	min-height: 460px;
	width: 32%;
}
.bg1 {
	background: url(image/item1.png) center/cover no-repeat;
}
.item-txt {
}
.item-button {
}
.bg2 {
	background: url(image/item2.png) center/cover no-repeat;
}
.bg3 {
	background: url(image/item3.png) center/cover no-repeat;
}
.sec-team {
	padding: 100px 0;
	padding-top: 100px;
	padding-bottom: 100px;
}

.flex-team {
	border: 2px solid red;
	display: flex;
	justify-content: space-between;
}
.text-team {
	border: 2px solid rgb(0, 162, 255);
	width: 30%;
}
.title-team {
	color: #403e3b;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 38px; /* 118.75% */
	margin-bottom: 14px;
}
.txt-team {
	color: #645c55;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 160% */
	margin-bottom: 30px;
}
.button {
	border-radius: 14px;
	background: #1b1a1a;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.4px;
	padding: 11px 20px;
}
.teams {
	border: 2px solid rgb(247, 0, 255);
	width: 65%;
	display: flex;
	flex-wrap: wrap;
}
.teams-item {
	border: 2px solid rgb(0, 255, 8);
	width: 45%;
	display: flex;
	align-items: center;
	margin-bottom: 36px;
	margin-right: 15px;
}
.teams-img {
	margin-right: 30px;
}
.teams-txt {
}
.teams-title {
	color: #1b1a1a;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 152.941% */
}
.teams-subtitle {
	color: #645c55;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px; /* 100% */
}
footer {
	padding: 60px 0;
}
.footer-flex {
	display: flex;
	/* выравнивание */
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}
.footer-txt {
	width: 40%;
	max-width: 430px;
}
.footer-logo {
}
.footer-text {
}
.footer-icon {
	width: 10%;
	min-width: 112px;
}
.burger-menu {
	display: none;
}

@media (max-width: 1120px) {
	.card-item {
		margin: 25px;
	}
}
@media (max-width: 850px) {
	.nav-list {
		/* скрываем элемент */
		display: none;
	}
	.burger-menu {
		/* показываем элемент */
		display: block;
	}
	.flex-team {
		/* меняем ось */
		flex-direction: column;
		align-items: center;
	}
	.text-team {
		width: 65%;
		margin-bottom: 25px;
	}
}
@media (max-width: 768px) {
	.teams-item {
		width: 80%;
	}
	.main-img {
		display: none;
	}
	h1 {
		font-size: 40px;
		line-height: 55px;
	}
}
@media (max-width: 475px) {
	.text-team {
		width: 90%;
	}
	.teams {
		width: 90%;
	}
	.main-screen {
		padding: 80px 40px;
	}
}
